body {
  /*#8e52c6*/
    --oogway-color: #de08fa;
    --oogway-color-base: #58a9c0;
    --oogway-color-elements: #1da1f2;
    /*--oogway-color-elements: #10a573;*/
    /*--oogway-color-elements: #8e52c6;*/
    --oogway-background: #e6ecf0;
    --oogway-text: #dadcfc;
    --oogway-component-background: #ffffff;
    --oogway-dark-background: #080a0a;
    --oogway-light-background: #f8f8f8;
  }
  
.app {
    background: #f1f2f5;
}
