.decisionPostComment {
    display: flex;
    padding-bottom: 8px;
}

.decisionPostComment__left {
    padding-right: 10px;
}

.decisionPostComment__right {
    width: 100%;
    padding-top: 5px;
}

.comment__timestamp {
    color: gray;
    font-size: x-small !important;
}

.decisionPostComment__right > p {
    padding: 4px;
    padding-bottom: 0;
    padding-left: 0;
    font-size: small;
}

.comment__image {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}

.comment__image > img {
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
    border-radius: 5px;
}

.decisionPostComment__cancel > .MuiSvgIcon-root {
    color: gray;
    cursor: pointer;
}

.decisionPostComment__cancel > .MuiSvgIcon-root:hover {
    color: #1da1f2;
}