.profile {
    /* Take as much room as you can take */
    flex: 0.7;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 35px;
}

.profile__feed {
    padding: 15px;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #f1f2f5;
}
