.widgets {
    padding: 25px 16px;
    padding-left: 0;
    flex: 0.3;
    margin-right: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    max-width: 360px;
}

.widgets__userDecisions {
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.widgets__userDecisionsTitle {
    display: flex;
    align-items: center;
}

.widgets__userDecisionsTitle > h2 {
    font-size: 20px;
    font-weight: 800;
    padding: 12px 16px;
    padding-right: 8px;
    color: #1da1f2;
}

.widgets__titleIcon {
    color: #1da1f2;
}